*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  color: #344563;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-caption {
  color: #344563;
}

.color-gray {
  color: #576070;
}

.wrapper {
  max-width: 600px;
  padding: 0 24px;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  height: 48px;
  padding-top: 20px;
}

.toolbar-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-color: #0821ff;
  padding: 0 10px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin-left: 24px;
}

.desktop {
  display: none;
}

.desktop.show {
  display: block;
  position: absolute;
  padding: 106px 0 0 28px;
  top: 0;
  background-color: #6070ff;
  opacity: 0.95;
  width: 100%;
  height: 100vh;
  z-index: 10;

  .menu-item {
    list-style: none;
    margin-bottom: 30px;
  }

  .menu-item-link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
  }
}

.hamburger {
  content: url(./images/menu-btn.svg);
  margin-right: 15px;
}

.hamburger.hide {
  content: url(./images/Icon-cancel.png);
  z-index: 100;
  margin: 32px 30px;
}

.close {
  display: none;
}

.close.show {
  display: block;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 114px 24px 124px;
  background-image: url(./images/header-bg.png);
  background-repeat: no-repeat;
  background-position-y: 16px;
  background-size: cover;
  border-end-start-radius: 80px;
  background-color: #fff;
}

.headline-content {
  max-width: 600px;
  margin: 0 auto;
}

.intro {
  font-size: 2.5rem;
  line-height: 1.3;
}

.wave {
  display: inline-block;
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(16deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(16deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.description {
  line-height: 1.5;
  margin: 12px 0;
}

.social-media {
  text-transform: uppercase;
  color: #3b4ceb;
  font-weight: 500;
  font-size: 1rem;
}

.socials {
  margin: 12px 0;
  width: 60%;
  display: flex;
}

.social-icon {
  text-decoration: none;
  flex-grow: 1;
  list-style: none;
}

//Works section
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.works {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 88px;
  padding: 114px 24px;
}

.card,
.popup {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-img,
.popup-img {
  width: 100%;
  height: auto;
  transition: transform 0.35s ease 0s;
}

.card-img:hover {
  transform: scale(0.99);
}

.card-description {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.05rem;
  line-height: 1.375;
  margin-top: 12px;
}

.profile,
.popup-profile {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8125rem;
  font-weight: 600;
  height: 32px;
  width: 236px;
}

.client {
  text-transform: uppercase;
  font-weight: 600;
}

.role {
  &::before {
    content: url(./images/dot.png);
    position: relative;
    left: -12px;
  }

  &::after {
    content: url(./images/dot.png);
    position: relative;
    right: -12px;
  }
}

.card:nth-of-type(2),
.card:nth-of-type(3) {
  .role::before {
    left: -8px;
  }

  .role::after {
    right: -8px;
  }
}

.details,
.popup-details {
  margin-top: 16px;
  line-height: 1.5;
}

.tags,
.popup-tags {
  display: flex;
  margin: 16px 0;
  font-size: 0.75rem;
  font-weight: 500;
  flex-wrap: wrap;
  row-gap: 10px;
}

.tag {
  color: #3448fc;
  background-color: #ebebff;
  padding: 4px 12px;
  letter-spacing: 0.03em;
  border-radius: 8px;
  list-style: none;
  margin-right: 8px;
}

.ruby {
  display: none;
}

.popup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  line-height: 20px;
  margin-bottom: 8px;
  width: unset;
  flex-grow: 1;
  text-decoration: none;

  span {
    margin-left: 12px;
  }
}

.btn-resume {
  width: 162px;
}

.btn,
.popup-btn,
.btn-resume {
  margin: 12px 0;
  font-size: 1.0625rem;
  color: #396df2;
  font-weight: 500;
  padding: 12px;
  line-height: 1.4;
  width: 124px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #6070ff;
    transition: ease 1s;
  }

  &:active {
    color: #fff;
    background-color: #2230d2;
  }

  &:disabled {
    color: #5e6c84;
    border: 1px solid #c1c7d0;
  }
}

//Popup styles
.popup-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #c1c7d0;
  opacity: 0.98;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 10000;
  overflow: auto;
  padding-top: 80px;
}

.popup {
  margin: 24px;
  z-index: 20000;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}

.popup-img {
  border: 1px solid #c1c7d0;
  border-radius: 5px;
}

.popup-profile {
  margin: 0 0 12px;
}

.popup-details {
  font-size: 0.9375rem;
}

.popup-line {
  background-color: #ebecf0;
  height: 1px;
  border: 0;
  margin-bottom: 10px;
}

.popup-btn-gp {
  display: flex;
  gap: 12px;
}

.popup-close:hover {
  cursor: pointer;
  background-color: #a7aeff;
}

//About Self
.about-self {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  background-color: #fff;
  border-top-right-radius: 80px;
}

.about-content {
  max-width: 600px;
}

.socials-about {
  margin: 32px 0 16px 12px;
  width: 200px;
}

.skill-list {
  margin-top: 48px;
}

.skill {
  font-size: 1.25rem;
  font-weight: 500;
  list-style: none;
  margin: 0 12px;
  padding: 24px 0;
  border-bottom: 1px solid #dfe1e6;
  cursor: pointer;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;

  &::after {
    content: url(./images/chevron.png);
    transition: all 0.3s;
  }

  &:hover {
    color: #396df2;
  }
}

details[open] summary {
  &::after {
    content: url(./images/chevron.png);
    transform: rotate(90deg);
    transition: all 0.3s;
  }
}

.language-list {
  padding: 24px 0 12px;
}

.language {
  background-color: #f7f7f9;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 12px 0;
  border-radius: 8px;

  span {
    padding: 9px 16px 0 12px;
  }
}

//Contact section
.contact-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact {
  background-image: url(./images/contact-bg.png);
  background-size: contain;
  background-position: top 20px right 0;
  background-repeat: no-repeat;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  padding-top: 103px;
  padding-bottom: 45px;
  border-top-left-radius: 80px;
  align-items: center;
}

.contact-description {
  color: #fff;
  text-align: center;
  max-width: 375px;
  padding: 0 24px;
}

.contact-text {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  max-width: 375px;
  padding: 0 24px;
}

.input {
  list-style: none;
}

input,
textarea {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  outline: none;
  width: 100%;
}

input {
  height: 48px;
  font-size: 1.0625rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

textarea {
  font-family: 'Poppins', sans-serif;
  padding-left: 16px;
  text-align: left;
  height: 170px;

  &::placeholder {
    font-size: 0.9375rem;
  }
}

.contact-btn {
  background-color: #fff;
  margin-top: 22px;
  width: 140px;
  border-color: #fff;
}

//MEDIA QUERIES
@media screen and (min-width: 1100px) {
  .wrapper {
    max-width: 1440px;
  }

  .toolbar {
    height: 72px;
    position: fixed;
    top: 0;
    padding-top: 0;
    z-index: 1000;
  }

  .toolbar-content {
    padding: 25px 80px;
    max-width: 1440px;
  }

  .hamburger {
    display: none;
  }

  .desktop {
    display: block;
  }

  .menu {
    display: flex;
  }

  .menu-item {
    list-style: none;
    margin-left: 32px;
  }

  .menu-item-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9375rem;
  }

  .headline {
    background-image: url(./images/header-bg-desktop.png);
    background-size: contain;
    height: calc(100vh - 72px);
    background-position: top 46px center;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
  }

  .headline-content {
    max-width: 920px;
  }

  .intro {
    font-size: 3rem;
    padding-right: 500px;
  }

  .description {
    font-size: 1.25rem;
  }

  .social-media {
    margin-top: 24px;
    margin-bottom: 14px;
  }

  //Works section
  .works {
    justify-content: center;
  }

  .popup-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    padding: 180px 0 20px;
  }

  .popup {
    margin: 20px auto;
    max-width: 1000px;
    padding: 32px;
    width: 100%;
  }

  .popup-profile {
    margin: 0 0 24px;
  }

  .popup-desc {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    gap: 20px;
  }

  .popup-details {
    flex-basis: 90%;
  }

  .popup-desc-right {
    flex-basis: 50%;
  }

  .card {
    flex-direction: row;
    margin: 0 142px;
    gap: 22px;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    &:hover {
      border: 2px solid #a7aeff;
      filter: drop-shadow(0 48px 48px rgba(37, 47, 137, 0.08));
    }
  }

  .card-img {
    width: calc(50% - 22px);
    flex-basis: 50%;
  }

  .card-description {
    width: 50%;
    flex-basis: 50%;
    padding: 24px 12px 0 12px;
  }

  .title {
    margin-top: 0;
  }

  .details {
    margin-top: 24px;
  }

  .tags {
    margin: 24px 0;
  }

  .ruby {
    display: block;
  }

  //About section
  .about-self {
    flex-direction: row;
    padding: 114px 152px;
    gap: 25px;
  }

  .about-content {
    margin: 0;
    max-width: 445px;
  }

  .about-description {
    font-size: 1rem;
  }

  .socials {
    display: flex;
  }

  .social-icon {
    margin-right: 23px;
    padding: 0;
    flex-grow: 0;
  }

  .skill-list {
    flex-grow: 1;
    margin-top: 0;
  }

  .language-list {
    display: flex;
    gap: 12px;
    justify-content: flex-start;

    span {
      padding: 16px 0 0 0;
    }
  }

  .language {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 12px;
    width: 122px;
    height: 120px;
    font-size: 0.9375rem;
  }

  //Contact section
  .contact {
    background-image: url(./images/contact-bg-desktop.png);
    background-position: top 80px center;
    padding: 142px 0 103px;
  }

  .contact-description {
    max-width: 800px;
  }

  .contact-intro {
    padding: 0;
  }

  .contact-text {
    padding: 0 100px;
  }

  .contact-form {
    max-width: 460px;
  }

  .contact-btn {
    margin: 22px auto;
  }

  //Interactives
  :is(a, button, summary):focus-visible {
    outline: 3px dotted #396df2;
    outline-offset: 2px;
  }

  :is(input, textarea, .contact-btn):focus-visible {
    outline: 3px dotted #e5e5e5;
    outline-offset: 2px;
  }
}
